$primary: #007cac;
$primary-light: lighten($primary, 63%);
$secondary: #37454d;
$secondary-light: lighten($secondary, 25%);
$secondary-xlight: lighten($secondary, 55%);
$disabled: lighten($secondary, 50%);
$text-white: white;