@import "../../../../styles/variables.scss";

// TABLE ROW
.list-item-wrapper {
  border: 1px solid $secondary-xlight;
  border-top: none;

  .table-row {
    color: $secondary;
    height: 4rem;
  }
}

.comments-container {
  background: $primary-light; 
}

.align-middle {
  vertical-align: middle;
}