<div class="comment py-2 flex items-center">
  <div class="w-10">
    <div class="comment-type">
      type
    </div>
  </div>
  <div class="w-75">comment</div>
  <div class="w-25 flex justify-between items-center">
    <div>
      author
    </div>
    <div class="color-secondary-light">
      date
    </div>
    <div>
      <img src="/assets/icons/edit.svg" class="icon px-1" alt="Edit" title="Edit">
      <img src="/assets/icons/delete.svg" class="icon px-1" alt="Delete" title="Delete">
    </div>
  </div>
</div>